[general]
log_level = "info"
health_check_interval_secs = 15
cert_file = "path/to/cert.pem"
key_file = "path/to/key.pem"

[server]
address = "lvh.me"
port = 3000
tls_port = 3443

[upstreams]

[upstreams.alpha]
address = "lvh.me"
port = 3001

[upstreams.beta]
address = "lvh.me"
port = 3002
